<!DOCTYPE html>

<html ng-app="ToDo">

<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    
    <style>
        .done{text-decoration: line-through;color:black;}
    </style>

</head>
    
    <body>
        
        <div ng-controller="todoController">
            <form name="frm" ng-submit="addTodo()">
            <input type="text" name="newodo" ng-model="newTodo" required />
                <button ng-disabled="frm.$invalid">Go</button>
            </form>
            <button ng-click="clearCompleted()">Clear Completed</button>
            <ul>
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done" />
                    <span ng-class="{'done':todo.done}">{{todo.title}}</span>
                </li>
            </ul>
        </div>
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
    </script>
    
        <script>
            
        angular.module('ToDo',[]).
        controller('todoController',['$scope',function($scope){
        $scope.todos = [
        {'title':'Build a todo app','done':false}
        ];
        
        $scope.addTodo = function(){
            $scope.todos.push({'title':$scope.newTodo,'done':false})
            $scope.newTodo = ''
        }
        $scope.clearCompleted = function(){
            $scope.todos = $scope.todos.filter(function(item){
                return !item.done
                
            })
        }
                
        
        }])
            
        </script>
    
    </body>
    
    
</html>
